@model SrK121a

<div class="container">

    <form asp-page-handler="K121a_save">

        <div class="row mt-3">

            <div class="alert alert-primary" role="alert">
                <strong>Unos podataka - K121a  Priznanica za položen frankaturni depozit</strong>
            </div>

            <input type="text" asp-for="Stanica" class="form-control ml-1" value="@ViewBag.Stanica" hidden>
            <input type="text" asp-for="Blagajnik" class="form-control ml-1" value="@ViewBag.UserId" hidden>


            <div class="col-xxl-10 mb-3">
                <div class="row">
                    <div class="row my-1 justify-content-center">
                        <div class="col-auto">
                            <label class="col-form-label ">Priznanica</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" asp-for="Broj" class="form-control ml-1" id="priznanica">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <label class="col-form-label ">za položeni frankaturni depozit (Matica)</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xxl-5 col-xl-6 col-lg-7">

                <div class="row my-1 align-items-end">
                    <div class="col-auto">
                        <label class="col-form-label ">Pošiljalac</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" asp-for="Pošiljalac" class="form-control ml-2" id="posiljalac" style="width:205px">
                    </div>
                </div>

                <div class="row my-3 align-items-end">
                    <div class="col-auto">
                        <label class="col-form-label ">je položio</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" asp-for="Iznos" class="form-control" id="iznos">
                    </div>
                    <div class="col-auto">
                        <label class="col-form-label ">dinara</label>
                    </div>
                </div>

                <div class="row my-3 align-items-end">
                    <div class="col-auto">
                        <label class="col-form-label ">na ime depozita za pošiljku po tovarnom listu</label>
                    </div>
                </div>

                <div class="row my-3 align-items-end">
                    <div class="col-auto">
                        <label class="col-form-label ">br.</label>
                    </div>
                    <div class="col-md-3 col-4 px-0">
                        <input type="text" asp-for="OtpBroj" class="form-control" id="broj">
                    </div>
                    <div class="col-auto px-1">
                        <label class="col-form-label ">od</label>
                    </div>
                    <div class="col-md-3 col-4 px-0">
                        <input type="text" asp-for="OtpDatum" class="form-control" id="OtpDatum" name="datumOd" autocomplete="off">
                    </div>
                </div>

                <div class="row my-1 align-items-end">
                    <div class="col-auto">
                        <label class="col-form-label ">Uputna stanica</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control pl-1" list="myDatalist" id="myDatalistInput" name="stanica_" />
                        <datalist id="myDatalist" open="open">
                        </datalist>
                    </div>
                </div>

                <div class="row my-3 align-items-end">
                    <div class="col-auto">
                        <label class="col-form-label ">Datum</label>
                    </div>
                    <div class="col-md-5 col-4">
                        <input type="text" asp-for="Datum" class="form-control" style="margin-left:57px;" id="Datum" name="datumDo" autocomplete="off">
                    </div>
                </div>

                <div class="my-2 d-none d-md-block">
                    <button type="submit" class="btn btn-primary" id="upisBtn" asp-controller="UnosPodataka" asp-action="K121a_save">Upiši u bazu</button>
                </div>


            </div>

            <div class="col-xxl col-xl col-lg mt-3 mt-lg-0 px-0">

                <div class="col-xxl-7 col-xl-9 col-lg-12 col-md-7">
                    <label class="form-label">Primalac priznanice</label>
                    <input type="text" asp-for="Primalac" class="form-control" id="primalac">
                </div>
                <div class="col-xxl-7 col-xl-9 col-lg-12 col-md-7">
                    <label class="form-label">Adresa primaoca</label>
                    <input type="text" asp-for="PrimalacAdresa" class="form-control">
                </div>
                <div class="col-xxl-7 col-xl-9 col-lg-12 col-md-7">
                    <label class="form-label">Zemlja</label>
                    <input type="text" asp-for="PrimalacZemlja" class="form-control">
                </div>

                <div class="row-cols-md my-2 d-md-none d-block">
                    <button type="button" class="btn btn-primary" id="upisBtn" asp-controller="UnosPodataka" asp-action="K121a_save">Upiši u bazu</button>
                </div>

            </div>
        </div>

    </form>


    @if (((IEnumerable<SrK121a>)ViewBag.k121a).Any())
    {
        <div>
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Stanica</th>
                        <th scope="col">Blagajna</th>
                        <th scope="col">Priznanica</th>
                        <th scope="col">Pošiljalac</th>
                        <th scope="col">Iznos</th>
                        <th scope="col">Br. Depozita</th>
                        <th scope="col">Dana</th>
                        <th scope="col">Uputna stanica</th>
                        <th scope="col">Primalac</th>
                        <th scope="col">Primalac Adresa</th>
                        <th scope="col">Primalac Zemlja</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Blagajnik</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((IEnumerable<SrK121a>)ViewBag.k121a))
                    {

                        <tr>
                            <td scope="row">@item.Stanica</td>
                            <td>@item.Blagajna</td>
                            <td>@item.Broj</td>
                            <td>@item.Pošiljalac</td>
                            <td>@item.Iznos</td>
                            <td>@item.OtpBroj</td>
                            @if (item.OtpDatum != null)
                            {
                                <td>@item.OtpDatum.Value.ToString("dd.MM.yyyy")</td>
                            }

                            <td>@item.PrStanica</td>
                            <td>@item.Primalac</td>
                            <td>@item.PrimalacAdresa</td>
                            <td>@item.PrimalacZemlja</td>
                            @if (item.Datum != null)
                            {
                                <td>@item.Datum.Value.ToString("dd.MM.yyyy")</td>
                            }

                            <td>@item.Blagajnik</td>
                        </tr>
                }
                    </tbody>

                </table>
        </div>
    }




</div>

@section Scripts {
    <script type="text/javascript">


     

        $(window).on('load', function () {

            $('#Datum', '#OtpDatum').datepicker()

            var posiljalac = $('#posiljalac').val()
            var iznos = $('#iznos').val()
            var primalac = $('#primalac').val()
            var datum = $('#Datum').val()

            console.log('posiljalac ' + posiljalac + ' iznos ' + iznos + ' primalac ' + primalac + ' priznanica ' + priznanica + ' datum ' + datum)
            if (posiljalac != '' && iznos != '' && primalac != '' && priznanica != '' && datum != '') {
                console.log('if')
                $('#upisBtn').attr("disabled", false);
            } else {
                console.log('else')
                $('#upisBtn').attr('disabled', true)

            }

        })


        $(document).ready(function () {

            $('#fakturaOsnovica ,#fakturaPDV, #kursDinara').on('input', function () {
                numbersAndDotOnly(this.getAttribute('Id'), this.value)

                var fakturaOsnovica = $('#fakturaOsnovica').val()
                var fakturaPDV = $('#fakturaPDV').val()

                if (fakturaOsnovica != 0 && fakturaPDV != 0) {
                    $('#ukupnaVrednost').val((parseFloat(fakturaOsnovica) + parseFloat(fakturaPDV)).toFixed(2))
                } else {
                    $('#ukupnaVrednost').val('')
                }
            })

            function numbersAndDotOnly(selector, input) {                       //Da prilikom unosa zareza prebaci da bude tačka
                input = input.replace(",", ".");
                var res = "";
                //da ne moze prvi karakter da bude tacka
                if (input.charAt(0) == '.') {
                    input = input.replace(/\.+$/, "");
                }
                //da ne moze dve tacke da ubaci
                if (input.split('.').length > 2) {
                    input = input.replace(/\..+$/, ".");
                }
                //regex za brojeve i tacke
                function validate(s) {
                    var rgx = /^[0-9]*\.?[0-9]*$/;
                    return s.match(rgx);
                }
                for (var i = 0; i < input.length; i++) {
                    if (validate(input[i]) != null) {
                        res += input[i]
                    }
                }
                $('#' + selector).val(res)
            }

            $('#fakturaOsnovica, #fakturaPDV').on('input', function () {                                   // format decimale XXX.XX
                var val = this.value
                var selector = this.getAttribute('Id')

                var separate = val.split('.')

                if (separate.length == 1) {
                    $('#' + selector).val(function () {
                        return val.substr(0, 3)
                    })
                } else if (separate.length == 2 && separate[0].length == 1) {
                    $('#' + selector).val(function () {
                        return val.substr(0, 4)
                    })
                } else if (separate.length == 2 && separate[0].length == 2) {
                    $('#' + selector).val(function () {
                        return val.substr(0, 5)
                    })
                } else if (separate.length == 2 && separate[0].length == 3) {
                    $('#' + selector).val(function () {
                        return val.substr(0, 6)
                    })
                }
            })


            $('#vrstaUslugaSifra, #primalacTR, #primalacMB, #primalacPIB').keypress(function () {                           //Da ogranici unos karaktera
                if (this.value.length == 10) {
                    return false;
                }
            })

            $('#priznanica, #broj').keypress(function (e) {                                                                 //Samo unos brojeva i ništa više
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9]/g))
                    return false;
            });


            $('#posiljalac, #iznos, #primalac, #priznanica, #Datum').on('change', function () {                                             //Uslovi na formi

                var posiljalac = $('#posiljalac').val()
                var iznos = $('#iznos').val()
                var primalac = $('#primalac').val()
                var priznanica = $('#priznanica').val()
                var datum = $('#Datum').val()

                console.log('posiljalac ' + posiljalac + ' iznos ' + iznos + ' primalac ' + primalac + ' priznanica ' + priznanica + ' datum ' + datum)

                if (posiljalac != '' && iznos != '' && primalac != '' && priznanica != '' && datum != '') {
                    console.log('if')
                    $('#upisBtn').attr('disabled', false)
                } else {
                    console.log('else')
                    $('#upisBtn').attr("disabled", true);
                }
            })






        })

    </script>
}







@*https://stackoverflow.com/questions/15622076/making-html5-datalist-visible-when-focus-event-fires-on-input*@