@model SrFakturaViewModel


<div class="container">


    @if (ViewBag.Admin == true)
    {
        <form asp-page-handler="PDF" class="needs-validation" novalidate id="form1">

            <div class="row d-flex align-items-end mt-3">

                <div class="alert alert-primary" role="alert">
                    <strong>Stanični  K-1P nerealizovani računi </strong>
                </div>

                <div class="col-md-2">
                    <label>Naziv stanice</label>
                    <input class="form-control form-control-sm" list="myDatalistSR" id="myDatalistInputSR" name="stanica" value="@ViewBag.Stanica" autocomplete="off"  />
                    <datalist id="myDatalistSR" open="open">
                    </datalist>      
                </div>

                <div class="col-md-2">
                    <label>Godina</label>
                    <input class="form-control form-control-sm" name="fakturaGod" id="fakturaGod" value="@ViewBag.FakturaGod" autocomplete="off"  />
                </div>

                <div class="col-md-2">
                    <label>Broj računa</label>
                    <input class="form-control form-control-sm" name="racunBr" id="racunBr" autocomplete="off" />
                </div>

                <div class="col-md-3  ">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" checked="@ViewBag.sveFakture" id="sveFakture" name="sveFakture">
                        <label class="form-check-label" for="flexCheckDefault">
                            Sve fakture
                        </label>
                    </div>
                    <div class="form-check mb-0">
                        <input class="form-check-input" type="checkbox" value="true" id="samoNfakture" name="samoNfakture" checked="@ViewBag.samoNfakture">
                        <label class="form-check-label" for="flexCheckChecked">
                            Samo nerealizovane fakture
                        </label>
                    </div>

                </div>

                <div class="col-xxl-1 col-xl-1 col-lg col-md mt-4">
                    <button class="btn btn-sm btn-primary" style="margin-top:7px" asp-controller="StanicniRacun" asp-action="PDF" id="pretraziBtn">Pretraži</button>
                    <a class="btn btn-sm btn-primary text-white" style="margin-top:7px" id="pdfBtn" hidden onclick="return confirm('Nema podataka za izabrane kriterijume.')" >PDF</a>
                </div>

            </div>
        </form>


    }
    else
    {
        /***************************** PRVI SEKTOR KADA KORISNIK NIJE ADMIN *************************************/
        /***************************** PRVI RED *****************************************************************/

        <form asp-page-handler="Save" class="needs-validation" novalidate enctype="multipart/form-data">

            <div class="row mt-3">

                @if (Model == null)
                {
                    <div class="alert alert-primary" role="alert">
                        <strong>Unos stanične fakture.</strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-primary" role="alert">
                        <strong>Izmena stanične fakture.</strong>
                    </div>
                }


                @if (ViewBag.Admin == true)
                {
                    <div class="col-md-3">
                        <label class="mb-0">Stanica</label>
                        <input class="form-control form-control-sm" list="myDatalist" id="myDatalistInput" required autocomplete="off" />
                        <datalist id="myDatalist" open="open">
                        </datalist>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <label class="mb-0">Stanica</label>
                        <input class="form-control form-control-sm" value="@ViewBag.Stanica" readonly />
                    </div>
                }

            <div class="col-md-3">
                <label class="mb-0">Šifra stanice</label>
                <input class="form-control form-control-sm" autocomplete="off" value="@ViewBag.SifraStanice" asp-for="Stanica" readonly/>
                <input class="form-control form-control-sm" autocomplete="off" value="@ViewBag.SifraStanice" asp-for="Stanica" hidden/>
            </div>

            <div class="col-md-2">
                <label class="mb-0">Mesto izdavanja računa</label>
                <input class="form-control form-control-sm" autocomplete="off" value="@ViewBag.MestoIzdavanjaRacuna"  readonly/>
                <input class="form-control form-control-sm" autocomplete="off" value="@ViewBag.MestoIzdavanjaRacuna" hidden />
            </div>

            </div>


            @*/***************************** DRUGI RED *****************************************************************/*@

            <div class="row">
                <div class="col-md-3">
                    <label class="mb-0">Blagajna</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" name="tipBlagajna" asp-items="@ViewBag.BlagajnaTip" required>
                    </select>

                </div>


                <div class="col-md-3">
                    <label class="mb-0">Šifra blagajne</label>
                    <input class="form-control form-control-sm" autocomplete="off" value="@ViewBag.SifraBlagajne" asp-for="Blagajna" readonly/>
                    <input class="form-control form-control-sm" autocomplete="off" value="@ViewBag.SifraBlagajne" asp-for="Blagajna" hidden/>
                </div>

                <div class="col-md-2">
                    <label class="mb-0">Tekući račun</label>
                    <input class="form-control form-control-sm" autocomplete="off" asp-for="TekuciRacun" required />
                </div>

                <div class="col-md">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md">
                            <label class="mb-0">Matični br.</label>
                            <input class="form-control form-control-sm" autocomplete="off" value="21127116" readonly/>
                    
                        </div>

                        <div class="col-md">
                            <label class="mb-0">PIB</label>
                            <input class="form-control form-control-sm" autocomplete="off" value="109108446" readonly/>
                        </div>
                    </div>
                </div>



            </div>

            <div class="my-2">
                <hr />
            </div>
            @*/***************************** DRUGI SEKTOR **************************************************************/
                /***************************** TREĆI RED *****************************************************************/*@


            <div class="row mt-3">

                <div class="col-md-2">
                    <label class="mb-0">Račun broj</label>
                    <input class="form-control form-control-sm" autocomplete="off" asp-for="FakturaBroj" required />
                </div>

                <div class="col-md-1">
                    <label class="mb-0">Godina</label>
                    <input class="form-control form-control-sm" type="text" autocomplete="off" id="godinaRacun" asp-for="FakturaGodina" />
                </div>

                <div class="col-md-3">
                    <label class="mb-0">Naziv primaoca računa</label>
                    <input class="form-control form-control-sm" list="myDatalistNPR" id="myDatalistInputNPR" autocomplete="off" required asp-for="Primalac" />
                    <datalist id="myDatalistNPR" open="open">
                    </datalist>
                </div>

                <div class="col-md-2">
                    <label class="mb-0">Broj ugovora</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="brUgovora" asp-for="PrimalacUg" />
                </div>

                <div class="col-md-2">
                    <label class="mb-0">Telefon</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="telefon" asp-for="PrimalacTelefon" />
                </div>
                <div class="col-md-2">
                    <label class="mb-0">Tekući račun</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="tr" asp-for="PrimalacTr" required />
                </div>

            </div>

            @*/***************************** ČETVRTI RED *****************************************************************/*@

            <div class="row">

                <div class="col-md-3">

                </div>


                <div class="col-md-3">
                    <label class="mb-0">Mesto</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="mesto"  asp-for="PrimalacMesto"/>
                </div>

                <div class="col-md-2">
                    <label class="mb-0">Ulica i broj</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="adresa" asp-for="PrimalacAdresa" />
                </div>

                <div class="col-md-2">
                    <label class="mb-0">Matični br.</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="mb" asp-for="PrimalacMb" />
                </div>

                <div class="col-md-2">
                    <label class="mb-0">PIB</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="pib" asp-for="PrimalacPib" required/>
                </div>

            </div>

            <div class="my-2">
                <hr />
            </div>

            @*/***************************** TREĆI SEKTOR **************************************************************/*@


            <div class="row d-flex align-items-end">

                <div class="col-md-2">
                    <label class="mb-0">Datum nastanka obaveze</label>
                    <input class="form-control form-control-sm" autocomplete="off" type="text" id="DatumNO" name="DatumNO" asp-for="FakturaDatum" required asp-format="{0:dd\.MM\.yyyy}" />
                </div>

                <div class="col-md-2">
                    <label class="mb-0">Datum plaćanja</label>
                    <input class="form-control form-control-sm" autocomplete="off" type="text" id="DatumP" name="DatumP" asp-for="FakturaDatumP" required asp-format="{0:dd\.MM\.yyyy}" />
                </div>

                <div class="col-md-5">
                    @*<label for="formFileSm" class="form-label mb-0">Prilog fakturi</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file" asp-for="UploadFile" required>*@
                    <div class="form-inline">
                        <label class="btn btn-sm btn-primary mr-1">
                            Izaberite fajl
                            <input type="file" class="" style="display: none;" id="formFileSm" asp-for="UploadFile">
                        </label>
                        <input class="form-control form-control-sm w-75" type="text" id="imeFajle" autocomplete="off" value="@ViewBag.ImeFajla">
                    </div>
                </div>

                <div class="col-md-3">
                    <input class="form-control form-control-sm" id="fpath" asp-for="Fpath" hidden>
                </div>

                <!--<div class="col-md">-->
                    @*<div class="form-inline">
                        <label class="btn btn-sm btn-primary">
                            Izaberite fajl
                            <input type="file" style="display: none;" id="formFileSm" asp-for="UploadFile">
                        </label>
                        <input class="form-control form-control-sm" type="text" id="imeFajle">
                    </div>*@
                <!--</div>-->

            </div>

            @*/***************************        VRSTA USLUGA I DOBARA    ********************************************/*@

            <div class="row d-flex align-items-end mt-1">
                <div class="col-md">
                    <label class="mb-0">Vrsta dobara ili usluga</label>
                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="4" asp-for="VrstaUslugaOpis" required></textarea>
                </div>

            </div>


            <div class="row d-flex align-items-end mt-1">

                <div class="col-md-4">

                </div>

                <div class="col-md-2">
                    <label class="mb-0">Datum prometa usluga</label>
                    <input class="form-control form-control-sm" autocomplete="off" type="text" id="DatumPU" name="DatumPU" asp-for="FakturaDatumPromet" required asp-format="{0:dd\.MM\.yyyy}" />

                </div>
                <div class="col-md-1">
                    <label class="mb-0">Jed. mera</label>
                    <input class="form-control form-control-sm" autocomplete="off" asp-for="Fjedinica" />
                </div>
                <div class="col-md-1">
                    <label class="mb-0">Količina</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="kolicina" asp-for="Fkolicina" />
                </div>
                <div class="col-md-2">
                    <label class="mb-0">Jedinična cena dinara</label>
                    <input class="form-control form-control-sm" autocomplete="off" id="jedCenaDin" asp-for="Fjcena" />
                </div>

                <div class="col-md-2">
                    <label class="mb-0">Ukupno dinara</label>
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Unosi se osnovica."></i>
                    <input class="form-control form-control-sm" autocomplete="off" id="ukupnoDinara" asp-for="Fiznos" required />
                </div>

            </div>

            @*/***************************        POREZI    ********************************************/*@

            <div class="row border-bottom d-flex justify-content-between mt-3">
                <div class="col-md-3">
                    <label class="mb-0">Poreska osnovica</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control form-control-sm" autocomplete="off" id="poreskaOsnovica" asp-for="FakturaOsnovica" required />
                </div>
            </div>

            <div class="row border-bottom d-flex justify-content-between mt-1">
                <div class="col-md-3">
                    <label class="mb-0">Poreska stopa  % i iznos PDV</label>
                </div>
                <div class="col-md-8">
                    <div class="row justify-content-end">
                        <div class="col-md-3 pr-0">
                            <div class="form-inline justify-content-end">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Bez PDV-a
                                </label>
                                <input class="form-check-input ml-2" type="checkbox" value="" id="bezPdvCheckBox">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control form-control-sm" autocomplete="off" id="pdv" asp-for="FakturaPdv" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row border-bottom d-flex justify-content-between mt-1">
                <div class="col-md-3">
                    <label class="mb-0">Ukupna vrednost:</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control form-control-sm" autocomplete="off" id="ukupnaVrednost" asp-for="FakturaTotal" required />
                </div>
            </div>

            <div class="row border-bottom d-flex justify-content-start mt-1">
                <div class="col-md-5">
                    <label class="mb-0">Oslobođeno PDV: Čl.&nbsp;&nbsp;&nbsp;&nbsp;Stav.&nbsp;&nbsp;&nbsp;&nbsp;Tač.&nbsp;&nbsp;&nbsp;&nbsp;Zakona </label>
                </div>
            </div>

            <div class="row mt-1">
                <label for="inputPassword" class="col-sm-3 col-form-label">UKUPNO DINARA (slovima):</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="fakturaTekst" asp-for="FakturaTekst">
                </div>
            </div>

            <input class="form-control" asp-for="Realizovano" hidden>


            <div class="row d-flex align-items-end mt-3">
                <div class="col-md-2">
                    <label class="mb-0">Fakturisao</label>
                    <input class="form-control form-control-sm" autocomplete="off" value="@ViewBag.blagajnik" required />
                    <input hidden value="@ViewBag.UserID" asp-for="Blagajnik" />        @*koristi UserID da se upise u bazu*@
                </div>
                <div class="col-md-2">
                    <label class="mb-0">Datum izdavanja</label>
                    <input class="form-control form-control-sm" autocomplete="off" type="text" id="DatumI" name="DatumI" asp-for="DatumIzdavanja" required asp-format="{0:dd\.MM\.yyyy}" />
                </div>
                <div class="col-md-2 form-inline">

                    @if (Model == null)
                    {

                        <button type="submit" class="btn btn-sm btn-primary" asp-controller="StanicniRacun" asp-action="Save">Upiši u bazu</button>
                        @if (ViewBag.PDFbtn == true)
                        {
                            <a class="btn btn-sm btn-primary mx-2" asp-controller="StanicniRacun" asp-action="LastEntryPDF" target="_blank">PDF</a>
                        }
                    }
                    else
                    {
                        <button type="submit" class="btn btn-sm btn-primary" asp-controller="StanicniRacun" asp-action="EditSave">Upiši u bazu</button> //ovo je da sacuva izmene, isto se zove dugme
                    }

                </div>
            </div>




        </form>

    }



    @if (((IEnumerable<SrFakturaViewModel>)ViewBag.stanicniRacuni).Any())
    {
        <div>
            <table class="table table-hover mt-5">
                <thead>
                    <tr>
                        <th scope="col">Stanica</th>
                        <th scope="col">Naziv stanice</th>
                        <th scope="col">Broj računa</th>
                        <th scope="col">Datum izdavanja</th>
                        <th scope="col">Primalac</th>
                        <th scope="col">Realizovano</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((IEnumerable<SrFakturaViewModel>)ViewBag.stanicniRacuni))
                    {
                        <tr>
                            <td scope="row">@item.Stanica</td>
                            <td scope="row">@item.NazivStanice</td>
                            <td>@item.FakturaBroj</td>

                            @if (item.FakturaDatum.HasValue)
                            {
                                <td>@item.DatumIzdavanja.Value.ToString("dd.MM.yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td>@item.Primalac</td>
                            <td>@item.Realizovano</td>
                                
                            <td class="px-0">
                                <a class="btn btn-sm btn-primary" role="button" asp-controller="StanicniRacun" asp-action="PDF" asp-route-stanica="@item.Stanica" asp-route-racunBr="@item.FakturaBroj" target="_blank">PDF</a>

                                @if (ViewBag.Admin == false)
                                {
                                    <a class="btn btn-sm btn-primary" role="button" asp-controller="StanicniRacun" asp-action="Edit" asp-route-stanica="@item.Stanica" asp-route-racunBr="@item.FakturaBroj" asp-route-fakturaGod="@item.FakturaGodina">
                                        Izmeni
                                    </a>
                                }
                            </td>

                            <td class="px-0">
                                @if (ViewBag.Admin == true && item.Fpath != null)
                                {
                                    <a class="btn btn-sm btn-primary" href="@item.Fpath" target="_blank">Prilog</a>
                                }
                            </td>

                            <td class="px-0">
                                @if (ViewBag.Admin == true && item.Realizovano != "D")
                                {
                                    <a class="btn btn-sm btn-success" role="button" asp-controller="StanicniRacun" asp-action="Realizovano" asp-route-stanica="@item.Stanica" asp-route-racunBr="@item.FakturaBroj" asp-route-fakturaGod="@item.FakturaGodina" onclick="return confirm('Da li želite da fakturu: @item.FakturaBroj označite kao realizovanu?')">
                                        Realizuj
                                    </a>
                                }
                            </td>


                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }





</div>








@section Scripts {
    <script type="text/javascript">


        $(window).on('load', function () {

            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
                //ovo radi na hostingu, na mom racunaru ne radi. Da bi radilo kod mene mora da bude url: "/ListaStanica/KomintentIUgovor"

            $('#DatumP, #DatumPU, #DatumI, #DatumNO').datepicker()

             //setuje sadašnju godinu               
            $('#godinaRacun').val(new Date().getFullYear())

            $('#myDatalistInputNPR').on('input', function () {

                var input = $('#myDatalistInputNPR').val()

                $.ajax({
                    type: "GET",
                    url: baseUrl + "/ListaStanica/KomintentIUgovor",
                    //url: "/ListaStanica/KomintentIUgovor",
                    cache: false,
                    data: { data: input },
                    success: function (data) {
                        
                        var options = '';
                        var object;
                        $.each(data, function (key, value) {
                            options += '<option value="' + $.trim(value.naziv) + '" />';
                            object = value 
                        })
                        $('#myDatalistNPR').html(options)

                        //kada nema u polju nista onda izbaci grešku zato ide try catxh
                        try {
                            var naziv = object.naziv
                        } catch (e) {
                            naziv = null
                        }

                        // ako je ono sto je uneto u polje "Naziv pirmaoca računa" i sa onim što je našao u bazi popuni ostala polja
                        if (input == naziv) {

                            $('#myDatalistInputNPR').val(naziv);
                            $('#brUgovora').val(object.brojUgovora);
                            $('#mesto').val(object.mesto);
                            $('#adresa').val(object.adresa);
                            $('#telefon').val(object.telefon);
                            $('#tr').val(object.tr);
                            $('#mb').val(object.mb);
                            $('#pib').val(object.pib);
                        } else {
                            
                            $('#brUgovora').val('');
                            $('#mesto').val('');
                            $('#adresa').val('');
                            $('#telefon').val('');
                            $('#tr').val('');
                            $('#mb').val('');
                            $('#pib').val('');
                        }

                        //myDatalistInputNPR je pridodat funkciji koja dozvoljava samo unos slova je u site.js
                    }
                });
            })

         

         

             //ODERDJUJE VELICINU TEKSTA
            $.fn.textWidth = function (text, font) {
                if (!$.fn.textWidth.fakeEl) $.fn.textWidth.fakeEl = $('<span>').hide().appendTo(document.body);
                $.fn.textWidth.fakeEl.text(text || this.val() || this.text()).css('font', font || this.css('font'));
                console.log($.fn.textWidth.fakeEl.width())
                return $.fn.textWidth.fakeEl.width();
            };

       

            var fpath = $('#fpath').val();          //kod izmene unosa fakture da skine obazno polje za prilog, ako ne selektuje nov dokument putanja ce ostati ista kao sto je i bila
            if (fpath != "") {
                $('#formFileSm').removeAttr("required")
            } else {
                $('#formFileSm').attr("required")
            }


            var pdv = $('#pdv').val();                          //da cekira i setuje readonly atribut prilikom load strane
            var ukupnaVrednost = $('#ukupnaVrednost').val()

            if (pdv == '' && ukupnaVrednost != '') {
                $('#bezPdvCheckBox').attr('checked', 'checked')
                $('#pdv').attr('readonly', 'true')
            } else {
                $('#pdv').removeAttr('readonly')
            }

            





        }) // kraj  $(window).on('load', function () {


        /************************************************************************************************************************************************************************************************************/

        $(document).ready(function () {

            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
                //ovo radi na hostingu, na mom racunaru ne radi. Da bi radilo kod mene mora da bude url: "/ListaStanica/KomintentIUgovor"

            $('#ukupnoDinara').on('input', function () {                                        // da na osnovu unosa polja "Unosa dinara" popuni polja poreska osnovica, PDV, i Ukupna vrednost. Sa zaokruženim vrednodnostima decimala na pr 12,46 => 12,50

                decimals(this.getAttribute('Id'), this.value, 18, 2)
                numbersAndDotOnly(this.getAttribute('Id'), this.value)

                var ukupnoDinara = $('#ukupnoDinara').val()
                var poreskaOsnovica = parseFloat(ukupnoDinara).toFixed(1) 
                var pdv = (poreskaOsnovica * 0.2).toFixed(1)
                var ukupnaVrednost = (parseFloat(poreskaOsnovica) + parseFloat(pdv)).toFixed(1)
                

                if (ukupnoDinara != "") {

                    if ($('#bezPdvCheckBox').is(":checked")) {
                        // it is checked
                       
                        $('#poreskaOsnovica').val(numberFormat(poreskaOsnovica) + '0')
                        $('#ukupnaVrednost').val(numberFormat(poreskaOsnovica) + '0')
                        $('#ukupnaVrednost').trigger('change'); //da trigeruje promene zbog konverrzije Ukupne vrednosti u tekst
                    } else {
                        
                        $('#poreskaOsnovica').val(numberFormat(poreskaOsnovica) + '0')
                        $('#pdv').val(numberFormat(pdv) + '0')
                        $('#ukupnaVrednost').val(numberFormat(ukupnaVrednost) + '0')
                        $('#ukupnaVrednost').trigger('change'); //da trigeruje promene zbog konverrzije Ukupne vrednosti u tekst
                    }

                    
                } else {
                    $('#poreskaOsnovica').val('')
                    $('#ukupnaVrednost').val('')
                    $('#ukupnaVrednost').trigger('change'); //da trigeruje promene zbog konverrzije Ukupne vrednosti u tekst
                }
            })

            $('#poreskaOsnovica').on('input', function () {                                     //Da na osnovu unosa polja Poreska Osnovica prekopira vrednost u polje Ukupnp Dinara i preracuna i popuni polja PDV i Ukupna Vrednost. Sa zaokruženim vrednodnostima decimala na pr 12,46 => 12,50

                decimals(this.getAttribute('Id'), this.value, 18, 2)
                numbersAndDotOnly(this.getAttribute('Id'), this.value)

                var poreskaOsnovica = this.value
                $('#ukupnoDinara').val(poreskaOsnovica)

                if (poreskaOsnovica != "") {
                    var pdv = numberFormat((poreskaOsnovica * 0.2).toFixed(1))
                    var ukupnaVrednost = (parseFloat(poreskaOsnovica) + parseFloat(pdv)).toFixed(1)

                    if ($('#bezPdvCheckBox').is(":checked")) {
                        $('#ukupnaVrednost').val(numberFormat(poreskaOsnovica) )
                        $('#ukupnaVrednost').trigger('change'); //da trigeruje promene zbog konverrzije Ukupne vrednosti u tekst
                    } else {
                        $('#pdv').val(pdv + '0')
                        $('#ukupnaVrednost').val(numberFormat(ukupnaVrednost) + '0')
                        $('#ukupnaVrednost').trigger('change'); //da trigeruje promene zbog konverrzije Ukupne vrednosti u tekst
                    }

                    
                } else {
                    $('#pdv').val('')
                    $('#ukupnaVrednost').val('')
                    $('#ukupnaVrednost').trigger('change'); //da trigeruje promene zbog konverrzije Ukupne vrednosti u tekst
                }
            })

            $('#bezPdvCheckBox').on('change', function () {                 //na osnovu checkbox-a Bez PDV-a, ako je bez PDV-a onda obrise iznos PDV-a i ukupnu vrednost izjednaci sa ukupno dinara ili poreskom osnovicom
                if ($('#bezPdvCheckBox').is(":checked")) {
                    $('#pdv').val('')
                    $('#pdv').attr('readonly', 'true')
                    var ukupnoDinara = $('#ukupnoDinara').val()
                    $('#ukupnaVrednost').val(numberFormat(ukupnoDinara) + '.00')
                    $('#ukupnaVrednost').trigger('change'); //da trigeruje promene zbog konverrzije Ukupne vrednosti u tekst
                } else {
                    $('#pdv').removeAttr('readonly')
                }
                
            })




            $('#racunBr, #myDatalistInputSR, #fakturaGod').on('input', function () {                   //na osnovu popunjenih polja prikazuje dugme "Prikaži" ili "PDF" i setuje atribut na form1 target="_blank" kada je PDF dugme
                var racunBr = $('#racunBr').val();
                var stanica = $('#myDatalistInputSR').val();
                var fakturaGod = $('#fakturaGod').val();

                var res;

                $.ajax({
                    type: "GET",
                      url: baseUrl + "/ListaStanica/PdfCheck",
                   // url: "/ListaStanica/PdfCheck",
                    cache: false,
                    data: { 'racunBr': racunBr, 'stanica': stanica, 'fakturaGod': fakturaGod },
                    success: function (data) {                        
                        res = data

                        if (racunBr != "" && stanica != "" && fakturaGod != "") {
                            //proverava da li ima podataka za sva 3 kriterijuma i ako je res=true setuje dugme da moze da kreira PDF dokument
                            //u suprotnom ako je res=false samo izbaci alert da nema podataka za ze kriterujme
                            if (res) {
                                $('#form1').attr('target', '_blank');
                                $('#pdfBtn').attr('hidden', 'true')
                                $('#pretraziBtn').removeAttr('hidden')
                                $('#pretraziBtn').text("PDF");
                                
                            } else {
                                $('#pdfBtn').removeAttr('hidden')
                                $('#pretraziBtn').attr('hidden', 'true')
                            }
                        //ako je popunjeno samo stanica i faktura god prikazivace samo dugme pretrazi
                        } else {
                            $('#form1').removeAttr('target', '_blank');
                            $('#pretraziBtn').removeAttr('hidden')
                            $('#pdfBtn').attr('hidden', 'true')
                            $('#pretraziBtn').text("Pretraži");
                        }
                    }
                });

            })


            $("#upfile1").click(function () {
                $("#file1").trigger('click');
            });


            $('#formFileSm').on('change', function () {                             // da setuje naziv selektovanog fajla
                console.log("formFileSm " + this.value)
                var value = this.value
                var array = value.split('\\')
                $('#imeFajle').val(array[array.length-1])
            })



            $('#fakturaGod, #godinaRacun').keypress(function (e) {                            //dozvoljava samo brojeve
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9]/g))
                    return false;
            });


            $('#kolicina, #jedCenaDin').on('input', function () {
                //decimals(this.getAttribute('Id'), this.value, 18, 2)
                numbersAndDotOnly(this.getAttribute('Id'), this.value)
            })


            $(document).on('click', 'input[type="checkbox"]', function () {                     //da bude samo jedan checkBox selektovan
                $('input[type="checkbox"]').not(this).prop('checked', false);
            });





            $('#ukupnaVrednost').on('change', function () {                  // Konveretuje ukupnu vrednost u tekst
                var input = $('#ukupnaVrednost').val()
                console.log("inpit on change za CurrencyToText " + input)
                $.ajax({
                    type: "POST",
                   // url: baseUrl + "/CurrencyToText/CurrencyToText",
                   url: "/CurrencyToText/CurrencyToText",
                    cache: false,
                    data: { data: input },
                    success: function (data) {
                        
                        if (data != "") {
                            $('#fakturaTekst').val(data)
                        } else if (data == "") {
                            $('#fakturaTekst').val('')
                        }

                    }
                });
            })






            /********************       OGRANIČAVANJE UNOSA       ******************************/

            $('#godinaRacun').keypress(function () {                            
                if (this.value.length == 4) {
                    return false;
                }
            })

            /***********************************************************************************/

            /********************       FUNKCIJE        ******************************/

            function decimals(selector, val, celiBrojevi, decimale) {                 //FUNKCIJA ZA DECIMALE, prosledjuje se selektor, vrednost, celobrijna vrednos i decimalna
                var separate = val.split('.')
                if (separate.length == 1) {
                    $('#' + selector).val(function () {
                        return val.substr(0, celiBrojevi)
                    })
                } else if (separate.length == 2) {
                    var sum = parseInt(separate[0].length) + parseInt(decimale) + 1
                    $('#' + selector).val(function () {
                        return val.substr(0, sum)
                    })
                }
            }

            function numbersAndDotOnly(selector, input) {                       //Da prilikom unosa zareza prebaci da bude tačka
                input = input.replace(",", ".");
                var res = "";
                //da ne moze prvi karakter da bude tacka
                if (input.charAt(0) == '.') {
                    input = input.replace(/\.+$/, "");
                }
                //da ne moze dve tacke da ubaci
                if (input.split('.').length > 2) {
                    input = input.replace(/\..+$/, ".");
                }
                //regex za brojeve i tacke
                function validate(s) {
                    var rgx = /^[0-9]*\.?[0-9]*$/;
                    return s.match(rgx);
                }
                for (var i = 0; i < input.length; i++) {
                    if (validate(input[i]) != null) {
                        res += input[i]
                    }
                }
                $('#' + selector).val(res)
            }

            function numberFormat(nStr) { //funkcija za formatiranje brojeva na pr 3,831,527.40
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }




        })


    </script>
}
